<h1 id="tl_welcome">{{ lang.headline }}</h1>

<div class="tl_listing_container list_view">
	<table class="tl_listing showColumns">
		<tbody>
			{% for group, items in services %}
				<tr>
					<th class="tl_folder_tlist" colspan="2">{{ group }}</th>
				</tr>
				{% for service, value in items %}
					<tr>
						<td class="tl_file_list"><code>{{ service }}</code></td>
						<td class="tl_file_list"><code>{{ value }}</code></td>
					</tr>
				{% endfor %}
			{% endfor %}
		</tbody>
	</table>

	<br><br>
	<div>This extension use icons from the <a href="http://www.famfamfam.com/" target="_blank">famfamfam silk icons</a>.</div>
</div>
